.password-tip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.password-tip .password-tip-text {
    visibility: hidden;
    width: 400px;
    background-color: whitesmoke;
    color: black;
    text-align: left;
    border-radius: 6px;
    border-color: black;
    border-style: solid;
    border-width: thin;
    padding: 20px 5px 10px 5px;
    position: absolute;
    z-index: 1;
}

.password-tip:hover .password-tip-text {
  visibility: visible;
}
